<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>简单通用的学生毕业设计后台模板</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
    <div class="topbar-wrap white">
        <div class="topbar-inner clearfix">
            <div class="topbar-logo-wrap clearfix">
                <h1 class="topbar-logo none"><a href="/" class="navbar-brand">后台管理</a></h1>
                <ul class="navbar-list clearfix">
                    <li><a class="on" href="/">首页</a></li>
                    <li><a href="http://www.sucaihuo.com/" target="_blank">网站首页</a></li>
                </ul>
            </div>
            <div class="top-info-wrap">
                <ul class="top-info-list clearfix">
                    <li><a href="#">管理员</a></li>
                    <li><a href="/login/edit">修改密码</a></li>
                    <li><a href="/login/logout">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container clearfix">
        <div class="sidebar-wrap">
            <div class="sidebar-title">
                <h1>菜单</h1>
            </div>
            <div class="sidebar-content">
                <ul class="sidebar-list">
                    <li>
                        <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                        <ul class="sub-menu">
                            <li><a href="/article/index"><i class="icon-font">&#xe008;</i>作品管理</a></li>
                            <li><a href="/category/index"><i class="icon-font">&#xe008;</i>分类管理</a></li>
                            <li><a href="/log/pageview"><i class="icon-font">&#xe008;</i>pageview</a></li>
                            <li><a href="/log/top"><i class="icon-font">&#xe008;</i>top n</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>
                        <ul class="sub-menu">
                            <li><a href="/index/system"><i class="icon-font">&#xe017;</i>系统设置</a></li>
                            <li><a href="/index/system"><i class="icon-font">&#xe037;</i>清理缓存</a></li>
                            <li><a href="/index/system"><i class="icon-font">&#xe046;</i>数据备份</a></li>
                            <li><a href="/index/system"><i class="icon-font">&#xe045;</i>数据还原</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--/sidebar-->
        <div class="main-wrap">
            <div class="crumb-wrap">
                <div class="crumb-list">
                    <i class="icon-font"></i>
                    <a href="/">首页</a>
                    <span class="crumb-step">&gt;</span>
                    <span class="crumb-name">pv管理</span>
                </div>

                <div style="height: 30px;"></div>
                
                <div class="result-content">
                    <div class="result-title">
                        <div class="result-list">
                            <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                            <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                        </div>
                    </div>
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>id</th>
                            <th>用户名称</th>
                            <th>用户登录数</th>
                            <th style="width: 65%;">pageview</th>
                            <th>操作</th>
                        </tr>
                        <?php foreach($data as $k=>$v): ?>
                        <tr>
                            <!-- <?php if($v['user_id'] == ($k-1)['user_id'] && $k > 0): ?>
                                <td></td>
                                <td></td>
                                <td></td>
                            <?php else: ?> -->
                                <td>
                                    <?=$v['user_id']?>
                                </td>
                                <td>
                                    <?=$v['username']?>
                                </td>
                                <td>
                                    <?=$v['c']?>
                                </td>
                            <!-- <?php endif; ?> -->
                            <td>
                                <?=$v['path']?>
                            </td>
                            <td>
                                <a class="link-del" onclick="return confirm('确定要删除么？');" href="/log/delete?user_id=<?=$v['user_id']?>">删除</a>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </table>
                    <div class="list-page">
                        <!-- <?=$data['btn']?> -->
                    </div>
                </div>
            </div>
        </div>
        <!--/main-->
    </div>
</body>

</html>