<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>登录界面</title>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/common.css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css" />
</head>

<body>
	<div class="wrap login_wrap">
		<div class="content">
			<div class="logo"></div>
			<div class="login_box">

				<div class="login_form">
					<div class="login_title">
						登录
					</div>
					<form action="/login/login" method="post">

						<div class="form_text_ipt">
							<input name="username" type="text" placeholder="手机号/邮箱">
						</div>
						<div class="ececk_warning"><span>手机号/邮箱不能为空</span></div>

						<div class="form_text_ipt">
							<input name="password" type="password" placeholder="密码">
						</div>
						<div class="ececk_warning"><span>密码不能为空</span></div>

						<div class="form_text_ipt" style="display:inline-block;width:100px;margin:20px 0 0 30px;">
							<input name="captcha" type="text" placeholder="验证码">
						</div>	
						<div class="ececk_warning"><span>验证码不能为空</span></div>
						<div style="display: inline-block;margin: 20px 0 0 45px;">
							<img onclick="this.src=this.src" src="/login/url" alt="">
						</div>
						
						<div class="form_check_ipt">
							<div class="left check_left">
								<label><input name="" type="checkbox"> 下次自动登录</label>
							</div>
							<div class="right check_right">
								<a href="/login/noremember">忘记密码</a>
							</div>
						</div>
						<div class="form_btn">
							<button type="submit">登录</button>
						</div>
						<div class="form_reg_btn">
							<span>还没有帐号？</span><a href="register.html">马上注册</a>
						</div>
					</form>
					<div class="other_login">
						<div class="left other_left">
							<span>其它登录方式</span>
						</div>
						<div class="right other_right">
							<a href="#"><i class="fa fa-qq fa-2x"></i></a>
							<a href="#"><i class="fa fa-weixin fa-2x"></i></a>
							<a href="#"><i class="fa fa-weibo fa-2x"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
</body>

</html>
<script src="/js/jquery.min.js"></script>
<script>
	var html = `<div class="form_text_ipt" style="display:inline-block;width:100px;margin:20px 0 0 30px;">
							<input name="code" type="text" placeholder="手机验证码">
						</div>
						<div style="display: inline-block;margin: 20px 0 0 45px;">
							<input type="button" id="getCode" value="点击获取验证码" style="width:150px;display:inline-block;height: 40px;">
						</div>
						<div class="ececk_warning"><span>验证码不能为空</span></div>`;

	//  创建一个元素
	var element = document.createElement('div');

	//  当一个输入框获取焦点的时候，验证码框删除
	$('input[name=username]').focus(function(){
		element.remove();
	});

	//   当手机输入框失去焦点的时候，异步出现验证码框
	$('input[name=username]').blur(function(){
		//  获取到文本框中的值
		var phone = $('input[name=username]').val();
		//  判断文本框中的值是否为空
		if(phone == '')
			return ;
		
		//  判断文本框中的值，是否满足条件
		if(!((/^1[3|4|5|8][0-9]\d{4,8}$/).test(phone)))
			return ;
		
		$.ajax({
			url:'/login/ip',
			type:'post',
			data:{username:phone},
			dataType:'json',
			success:function(data){
				if(data.ip == 'null')
				{
					//   弹出验证码
					//  如果是手机号，则出现验证码框
					element.innerHTML = html;
					$('.form_check_ipt').before(element);
					//  当用户点击的时候，发送验证码
					$('#getCode').click(function(){
						ajax('sms',phone);
					});
				}
			}
		});
		
	});

	//  发送手机验证码
	function ajax(active,phone)
	{
		//  发送ajax
		$.ajax({
			url:'/register/'+active+'?phone='+phone,
			type:'get',
			dataType:'json',
			success:function(data){
				if(data.message == 'ok' && data.code == 'ok')
				{
					alert('发送成功！');
				}
			}
		});
	}
</script>