<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div style="background: url('/img/logo_bg.jpg') no-repeat;">
        <div style="width:200px;height:500px;margin: 0 auto;padding-top: 200px;">
            <form action="/login/resetPassword" method="POST">
                <input type="password" name="password" placeholder="请输入新密码">
                <input type="password" name="repassword" placeholder="请重新输入密码">
                <input type="submit" value="修改密码">
            </form>
        </div>
    </div>
    
</body>
</html>
<script src="/js/jquery.min.js"></script>
