<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    123
    <img onclick="this.src=this.src" src="/test/url" alt="">
</body>
</html>
<script src="/js/jquery.min.js"></script>
<script>
    // $('img').click(function(){
    //     $.ajax({
    //         url:'/test/url',
    //         success:function(data)
    //         {
    //             $('#i').attr('src',data);
    //         }
    //     })
    // });
    // function captcha()
    // {
    //     $.ajax({
    //         url:'/test/url',
    //         success:function(data)
    //         {
    //             document.getElementsByTagName('img').src = data;
    //         }
    //     })
    // }
</script>